body{
    margin: 0;
    width: 99vw;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(161, 161, 161);
    font-size: 13px;
}
header{
    margin: 0;
    background-color: rgb(29, 204, 116);
    height: 10px;
    width: 99vw;
}
#setor1{
    margin: 0;
    width: 99vw;
    height: 77vh;
    background-image: url(imagens/banner.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;  
}
#main{
    margin: 0 10px 10px 280px;
    width: 49vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
#tituloSetor1{
    display: flex;
    align-items: center;
}
h1{
    margin: 0;
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 35pt;
}
h2{
    font-family: 'Pacifico', cursive;
    color: rgb(29, 204, 116);
    font-size: 33pt;
}
#psetor1{
    color: white;
    font-size: 16pt;
    text-align: left;
    width: 70%;
}
#imagemSetor1{
    margin: 0;
    margin-right: 160px;
    width: 45vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
}
#handImagem{
    height: 400px;
    width: 350px;
    display: flex;
}
#iconesetor1{
    opacity: 0.6;
    background-color: black;
    border: 10px solid black;
    border-radius: 100%;
}
#iconesetor1:hover{
    opacity:1;
    cursor: pointer;
    background-color: rgb(29, 204, 116);
    border: 10px solid rgb(29, 204, 116);
}
#setor2{
    margin: 50px 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#editableTheme{
    width: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#flatDesign{
    width: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#reachYourAudience{
    width: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#setor2 p{
    margin: 0;
    text-align: center;
}
h3{
    color:black;
    font-size: 12pt;
}
#iconesetor2{
    background-color: rgb(29, 204, 116);
    border-radius: 100%;
    border: 20px solid rgb(29, 204, 116);
}
#setor3{
    margin: 0;
    padding: 10px 130px;
    background-color: rgb(204, 204, 204);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#conteudoSetor3{
    margin: 70px 0 70px 70px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
#conteudoSetor3 h3{
    width: 430px;
    text-align: left;
}
#conteudoSetor3 p{
    margin:0;
    width: 430px;
    text-align: left;
}
#notifySetor3{
    margin: 20px 0;
    width: 430px;
    display: flex;
}
#emailAddress{
    padding: 16px;
    border-radius: 14px 0 0 14px;
    border: none;
}
button{
    padding: 12px;
    border-radius: 0 14px 14px 0;
    border: none;
    background-color: rgb(29, 204, 116);
    color: white;
    font-size: 14pt;
    font-weight: bold;
    width: 110px;
}
#videoSetor3{
    margin: 0;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    height: 270px;
    width: 600px;
}
#setor4{
    margin: 0;
    padding: 40px 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#loremSetor4 p{
    margin: 0;
    width: 750px;
    font-size: 12pt;
    font-style: italic;
    text-align: center;
}
h4{
    color: black;
    font-size: 12pt;
    text-align: center;
}
.imagensSetor4{
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.imgPessoa:first-child{
    background-image: linear-gradient(to left, transparent, white);
}
.imgPessoa:last-child{
    background-image: linear-gradient(to right, transparent, white);
}
.imgPessoa{
    display: flex;
    width: 43px;
    height: 43px;
    z-index: 2;
    background-color: rgb(29, 204, 116);
}
.imgPessoa img{
    width: 43px;
    position: relative;
    z-index: 1;
}
.imgPessoa img:hover{
    cursor: pointer;
    opacity: 0.4;
    /*
    -webkit-filter: hue-rotate(120deg);
    -moz-filter: hue-rotate(120deg);
    -ms-filter: hue-rotate(120deg);
    -o-filter: hue-rotate(120deg);
    filter: hue-rotate(120deg);
    */
}
#textoSetor4{
    margin-top: 40px;
}
h5{
    margin: 0;
    color: black;
    font-size: 14pt;
    text-align: center;
}
#iconesSetor4{
    margin: 0;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#logosSetor4{
    border: 4px solid rgb(204, 204, 204);
    border-radius: 100%;
    background-color:  rgb(204, 204, 204);
    display: flex;
}
#logosSetor4:hover{
    cursor: pointer;
    border: 4px solid rgb(29, 204, 116);
    background-color: rgb(29, 204, 116);
}
footer{
    margin: 0;
    height: 18vh;
    width: 99vw;
    background-color: rgb(223, 223, 223);
    display: flex;
    align-items: center;
    justify-content: center;
}
footer ul{
    width: 40vw;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


@media (min-width: 425px){

}
@media (min-width: 768px){

}
@media (min-width: 1440px){

}