body{
    margin: 0;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(161, 161, 161);
    font-size: 13px;
}
header{
    margin: 0;
    background-color: rgb(29, 204, 116);
    height: 10px;
    width: 100vw;
}
#setor1{
    margin: 0;
    width: 100vw;
    height: 91vh;
    background-image: url(imagens/banner.png);
    background-size: auto;
    background-position: center;
    display: flex;
    justify-content: center;  
}
#main{
    margin: 10px 10px 10px 200px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
#tituloSetor1{
    display: flex;
    align-items: center;
}
h1{
    margin: 0;
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 35pt;
}
h2{
    font-family: 'Pacifico', cursive;
    color: rgb(29, 204, 116);
    font-size: 33pt;
}
#psetor1{
    color: white;
    font-size: 16pt;
    text-align: left;
    width: 70%;
}
#imagemSetor1{
    margin-left: 30px;
    width: 400px;
    display: flex;
    align-items: flex-end;
}
#iconesetor1{
    opacity: 0.6;
    background-color: black;
    border: 10px solid black;
    border-radius: 100%;
}
#iconesetor1:hover{
    opacity:1;
    cursor: pointer;
    background-color: rgb(29, 204, 116);
    border: 10px solid rgb(29, 204, 116);
}
#setor2{
    margin: 50px 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#editableTheme{
    width: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#flatDesign{
    width: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#reachYourAudience{
    width: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#setor2 p{
    margin: 0;
    text-align: center;
}
h3{
    color:black;
    font-size: 12pt;
}
#iconesetor2{
    background-color: rgb(29, 204, 116);
    border-radius: 100%;
    border: 20px solid rgb(29, 204, 116);
}





#setor3{
    margin: 0;
    padding: 10px 130px;
    background-color: rgb(204, 204, 204);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#conteudoSetor3{
    margin: 70px 0 70px 70px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
#conteudoSetor3 h3{
    width: 430px;
    text-align: left;
}
#conteudoSetor3 p{
    margin:0;
    width: 430px;
    text-align: left;
}
#notifySetor3{
    margin: 20px 0;
    width: 430px;
    display: flex;
}
#emailAddress{
    padding: 16px;
    border-radius: 14px 0 0 14px;
    border: none;
}
button{
    padding: 12px;
    border-radius: 0 14px 14px 0;
    border: none;
    background-color: rgb(29, 204, 116);
    color: white;
    font-size: 14pt;
    font-weight: bold;
    width: 110px;
}
#videoSetor3{
    margin: 0;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    height: 270px;
    width: 600px;
}





footer{
    margin: 0;
    height: 20%;
    background-color: rgb(212, 211, 211);
}
footer ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}